# すべて無視
*

# 必要なファイルだけ許可
!marupa-meets.html
!index.html
!NOA_9227.jpg
!pallet-yatai.jpg
!honnya-scene.jpg
!honnya-kids.jpg
!byoin-DSC02787.jpg
!byoin-DSC02812.jpg
!byoin-DSC02820.jpg
!chair-DSC08352.jpg
!pallet-m-MYK01084.jpg
!pallet-m-DSC02894.jpg
!pallet-mid-1.jpg
!pallet-mid-2.jpg
!standard-MYK01084.jpg
!standard-DSC02820.jpg
!yatai2-DSC02777.jpg
!gallery-MYK01111.jpg
!gallery-DSC09518.jpg
!gallery-583A6157.jpg
!gallery-DSC08341.jpg
!gallery-DSC08329.jpg
!gallery-DSC08512.jpg
!gallery-DSC03903.jpg
!gallery-MYK01072-2.jpg
!gallery-25JAPANSHOP00005.jpg
!gallery-MYK01086.jpg
!gallery-MYK01092.jpg
!gallery-MYK01103.jpg
!gallery-MYK01106-2.jpg
!gallery-DSC03955.jpg
!gallery-583A6157-fix.jpg
!chair-DSC04744.jpg
!chair-DSC01047.jpg
!pallet-DSC00683.jpg
!pallet-DSC00686.jpg
!gallery-Marupa_hoiku00004.jpg
!gallery-Marupa_hoiku00005.jpg
!gallery-Marupa_hoiku00007.jpg
!gallery-Marupa_hoiku00008.jpg
!gallery-Marupa_hoiku00009.jpg
!gallery-Marupa_hoiku00010.jpg
!gallery-Marupa_hoiku00011.jpg
!gallery-Marupa_hoiku00012.jpg
!gallery-Marupa_hoiku00013.jpg
!gallery-Marupa_hoiku00014.jpg
!gallery-Marupa_hoiku00015.jpg
!gallery-Marupa_hoiku00016.jpg
!gallery-Marupa_hoiku00017.jpg
!gallery-Marupa_hoiku00021.jpg
!gallery-Marupa_hoiku00022.jpg
!panda-banner.png
!panda-neru.png
!会社紹介.pdf
!レンタル表.pdf
!パレット活用事例.pdf
!.gitignore
