# すべて無視
*

# 必要なファイルだけ許可
!marupa-meets.html
!index.html
!NOA_9227.jpg
!pallet-yatai.jpg
!honnya-scene.jpg
!honnya-kids.jpg
!byoin-DSC02787.jpg
!byoin-DSC02812.jpg
!byoin-DSC02820.jpg
!chair-DSC08352.jpg
!pallet-m-MYK01084.jpg
!pallet-m-DSC02894.jpg
!pallet-mid-1.jpg
!pallet-mid-2.jpg
!standard-MYK01084.jpg
!standard-DSC02820.jpg
!yatai2-DSC02777.jpg
!gallery-MYK01111.jpg
!gallery-DSC09518.jpg
!gallery-583A6157.jpg
!gallery-DSC08341.jpg
!gallery-DSC08329.jpg
!gallery-DSC08512.jpg
!gallery-DSC03903.jpg
!gallery-DSC03955.jpg
!chair-DSC04744.jpg
!chair-DSC01047.jpg
!pallet-DSC00683.jpg
!pallet-DSC00686.jpg
!会社紹介.pdf
!レンタル表.pdf
!パレット活用事例.pdf
!.gitignore
